@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Google Sans Flex', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --ui-color-neutral-900: #121212;
  --ui-primary: #167a3f;
}

:root {
  --ui-header-height: 0px;
  --ui-footer-height: 50px;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.dark {
  --ui-primary: #4dce74;
}
